.nav-header{
    width: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dddddc;
    position: relative;
    height: 60px;
}

.selected{
    color: var(--color);;
  }

.navbar{
    display: flex;
    position: absolute;
    width: 80%;
    height: 54px;
    align-items: start;
    justify-content: space-between;
}

.navbar .navs{
    display: flex;
    font-size: 14px;
    font-weight: 900;
}

ul{
    min-width: 300px;
    display: flex;
    flex-flow: row nowrap;
}

ul>li {
    list-style: none;
}

.navs p{
    font-size: .875rem;
    font-weight: 500;
}

.navbar ol li{
    display: block;
    margin-left: 16px;
    font-size: 16px;
}

a{
    margin: 0 auto;
    align-items: center;
    display: flex;
    margin: 5px;
}

.navbar img{
    width: 50px;
    height: auto;
}

.nav-center{
    width: 33%;
}