.locationWrapper{
    display: flex;
    align-items: center;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    color: var(--p-color);
}

.locationIcon{
    width: 24px;
    height: 24px;
}

.locationInfo{
    gap: 4px;
    display: grid;
    text-align: left;
    align-content: center;
    flex-grow: 1;
    transition: all .2s ease-in-out;
    word-break: break-word;
    color: #717171;
}