.nav-header{
    width: 100;
    display: flex;
    border: 1px solid #dddddc;
    position: relative;
    height: 80px;
}

.selected{
    color: var(--color);;
  }

.profile{
    fill: var(--color);
    cursor: pointer;
    margin-left: 20px;
}

.logout{
    fill: var(--color);
    cursor: pointer;
    margin-left: 20px;
}

li .profile-div{
  width: 320px;
  height: 500px;
  position: absolute;
  top: 50%;
  background-color: #fff;
  right: 19%;
}

li .profile-div .header{
  padding: 20px;
}

li .profile-div .header h1{
  font-size: 20px;
}

li .profile-div ul {
  flex-flow: column;
  overflow-y: hidden;
}

li .profile-div .nav-profile{
  width: 100%;
}

li .profile-div ul li .item:hover svg,
li .profile-div ul li .item:hover a{
  color: var(--color)!important;
  fill: var(--color);
}


li .profile-div .nav-profile ul{
  padding: 0;
  list-style-type: none;
}
li .profile-div ul li .item:hover{
  cursor: pointer;
}

li .profile-div ul li .item{
  display: flex;
  width: 100%;
  align-items: center;
  height: 50px;
  gap: 20px;
  padding: 0 30px;
  font-size: 1.125rem;
}

.navbar{
    position: sticky;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    top: 0;
    z-index: 9997;
}

.navbar .navs{
    display: flex;
    font-size: 14px;
    font-weight: 900;
}

.navs ul{
    display: flex;
    flex-flow: row nowrap;
}

.navs ul>li {
    list-style: none;
}

.navs ul>li a{
    margin: 0 5px;
}

.navs p{
    font-size: .875rem;
    font-weight: 500;
}

.navbar ol li{
    display: block;
    margin-left: 16px;
    font-size: 16px;
}

.navbar img{
    width: 50px;
    height: auto;
}

.nav-center{
    width: 33%;
}


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    .nav-header{
            
        display: flex;
    }
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    .nav-header{
            
        display: flex;
    }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    .nav-header{
            
        display: none;
    }
    .navs ul{
        min-width: 220px;
    }
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    .nav-header{
            
        display: none;
    }
    
    .navs ul{
        min-width: 220px;
    }

  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    .nav-header{
            
        display: none;
    }
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
@media (min-width: 320px) and (max-width: 480px) {
    
    .nav-header{
            
        display: none;
    }
    
}

