.card{
    width: 440px;
    padding: 10px;
    line-height: 1.15;
    height: 100px;
    display: flex;
    margin-left: 16px;
    border-radius: 12px;
    transition: all .2s linear;
}

.free{
    color: #50a773;
    margin-left: 5px;
}

.card:hover{
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.226);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.226);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.226);
    cursor: pointer;
}

.name{
    font-weight: 600;
    font-size: 14px;
}

img{
    height: 100px;
    width: 100px;
    border-radius: 8px;
}

.card .content .info{
    font-size: .775rem;
    display: flex;
}

.rate-value{
    margin-left: 5px;
    margin-right: 5px;
}

.info-loc{
    font-size: .775rem;
    color: #717171;
    width: 100%;
}

.time{
    font-size: .875rem;
    color: #717171;
    display: flex;
}

.rate{
    color: #e7a74e;
    display: flex;
}