.card{
    width: 300px;
    padding: 10px;
    line-height: 1.15;
    height: 100px;
    display: flex;
    margin-left: 16px;
    border-radius: 12px;
    transition: all .2s linear;
    
}

.card:hover{
    transform: scale(1.02);
    box-shadow: 0 2px 8px rgb(0 0 0 / 12%);
    cursor: pointer;
}

.free{
    color: #50a773;
    margin-left: 5px;
}

.name{
    font-weight: 600;
    font-size: 14px;
    color: var(--p-color-2);
}

img{
    height: 100px;
    width: 100px;
    border-radius: 8px;
}

.card .content .info{
    font-size: .775rem;
    display: flex;
}

.rate-value{
    margin-left: 5px;
    margin-right: 5px;
}

.description{
    color: var(--p-color);
}

.info-loc{
    font-size: .775rem;
    color: #717171;
    width: 100%;
}

.time{
    font-size: .875rem;
    color: #717171;
    display: flex;
}

.rate{
    color: #e7a74e;
    display: flex;
}