.login-sub-container{
    position: relative;
    width: 80%;
}

.inputText {
  font-size: 14px;
  width: 200px;
  height: 35px;
}

.input-field{
    position: relative;
    width: 100%;
    margin: 20px 0 20px 0;
}

.login-size{
  width: 510px !important;
  height: 281px !important;
  padding: 0 !important;
}

.login-container input{
    background-color: white;
    border-radius: 4px;
    color: var(--p-color);
    width: 408px;
    height: 48px;
    padding: 5px;
    font-weight: 600;
    border: 1px solid var(--border-color);
}

.title-email{
    font-size: 1.125rem;
    text-align: center;
    font-weight: 400;
    color: #717171;
}
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    
    .container-left{
        display: flex;
    }
    
}
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    .container-left{
        display: flex;
    }
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .container-left{
        display: none;
    }

    .container-right{
        width: 100%;
    }
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .container-left{
        display: none;
    }

    .container-right{
        width: 100%;
    }
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    .container-left{
        display: none;
    }

    .container-right{
        width: 100%;
    }
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    .container-left{
        display: none;
    }

    .container-right{
        width: 100%;
    }   

    .container-right .login-container{
        width: 90%;
    }

    .container-right .login-container .login-sub-container{
        width: auto;
    }
  }